<%= form_for new_poster  do |f| %>
  <!-- if new_poster.errors.any? -->
    <!-- <section class="notifications">
      <div class="notification notification-error">
        <div>
          <%= pluralize(new_poster.errors.count, "error") %> prevented this poster from being submitted:
          <ul>
            <% new_poster.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>      
      </div>
     --></section>  
  <!-- end -->

  <h2 class="form-title">Add Poster</h2>
  
  <div class="form-item">
    <%= f.label :title, class: 'sr-only' %>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>

  <div class="form-item">
    <%= f.label :artist, class: 'sr-only' %>
    <%= f.text_field :artist, placeholder: 'Artist' %>
  </div>

  <div class="form-item">
    <%= f.label :image, class: 'sr-only' %><br>
    <%= f.file_field :image, class: 'image-upload' %>
  </div>  

  <!-- <div class="form-item">
    <%= f.label :release_date, class: 'sr-only' %>
    <%= f.date_field :release_date %>
  </div> -->

  <div class="form-item">
    <%= f.submit "Submit" %>
  </div>

  <svg class='close-icon' width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <line x1="0" y1="0" x2="50" y2="50" />
    <line x1="50" y1="0" x2="0" y2="50" />
  </svg>  
<% end %>