<h1 class="form-title">Login</h1>

<%= form_tag session_path do %>
  <div class="form-item">
    <%= label_tag :email, nil, class: 'sr-only' %>
    <%= text_field_tag :email, nil, placeholder: 'Email Address' %>
  </div>

  <div class="form-item">
    <%= label_tag :password, nil, class: 'sr-only' %>
    <%= password_field_tag :password, nil, placeholder: 'Password' %>
  </div>

  <div class="form-item">
    <%= submit_tag "Log In" %>
  </div>

  <svg class='close-icon' width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
    <line x1="0" y1="0" x2="50" y2="50" />
    <line x1="50" y1="0" x2="0" y2="50" />
  </svg>
<% end %>