<!DOCTYPE html>
<html>
<head>
  <title>Poster Review</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav' %>
  <%= render 'layouts/admin_nav' if is_admin? %>
  <div class="page">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <section class="site-body">
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
